# Created by .ignore support plugin (hsz.mobi)

# Build files
/.gradle
/build

# Logs
/logs
*.log


# Token file. Contains sensitive information
/.TOKEN
*.TOKEN

# Audio files
/audio/
*.mp3

# Runtime created folder that stores sensitive guild information. Only in test environment hopefully...
/guild_settings/
